@import './variables.scss';

button.CoulissesButton {
  border: 1px solid $dark;

  &.CoulissesButtonPrimary {
    background: $dark;
    color: $gold;

    &:hover {
      background: lighten($color: $dark, $amount: 15);
      border-color: lighten($color: $dark, $amount: 15);
    }
  }

  &.CoulissesButtonOutlinedGold {
    border-color: $gold;
    color: $gold;
  }

  &.CoulissesButtonGold {
    background: $gold;
    border-color: $gold;

    &:hover {
      background: lighten($color: $gold, $amount: 5);
      border-color: lighten($color: $gold, $amount: 5);
    }
  }

  &:disabled {
    background: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.26);
    border: 0;
  }
}
