@import './variables.scss';

.CoulissesStepper {
  .MuiStepIcon-root.MuiStepIcon-completed {
    background: $gold;
    color: $dark;
    border-radius: 50%;
  }

  .MuiStepIcon-root.MuiStepIcon-active {
    color: $dark;

    .MuiStepIcon-text {
      fill: $gold;
    }
  }
}
